#
# ================
# Standard Fields.
# ================
#

# ====================================
# ALTERNATIVE FORMAT (no field counts).
# ====================================
#
# ------------------------------------
# field.ID             = AB01
# ------------------------------------
# AB01.field.ra        = 16:22:15.03
# AB01.field.dec       = -17:23:45.085
# AB01.field.mag       = 12.26
# AB01.focus.star.ra   = 16:22:25.03
# AB01.focus.star.dec  = -17:21:17.808
# AB01.focus.star.mag  = 11.35
# AB01.focus.star.name = QXA23+15
# ====================================
#
# field.mag = mag of brightest star in field
#
#
#
#
#
#


standards.field.count = 12
standards.field.0.ra  = 00:00:00.000
standards.field.0.dec = 000:00:00.00
standards.field.0.mag = 12.0
standards.focus.0.ra  = 00:00:00.000
standards.focus.0.dec = 000:00:00.00
standards.focus.0.mag = 12.0

standards.field.1.ra  = 02:00:00.000
standards.field.1.dec = 000:00:00.00
standards.field.1.mag = 12.0
standards.focus.1.ra  = 02:00:00.000
standards.focus.1.dec = 000:00:00.00
standards.focus.1.mag = 12.0

standards.field.2.ra  = 04:00:00.000
standards.field.2.dec = 000:00:00.00
standards.field.2.mag = 12.0
standards.focus.2.ra  = 04:00:00.000
standards.focus.2.dec = 000:00:00.00
standards.focus.2.mag = 12.0

standards.field.3.ra  = 06:00:00.000
standards.field.3.dec = 000:00:00.00
standards.field.3.mag = 12.0
standards.focus.3.ra  = 06:00:00.000
standards.focus.3.dec = 000:00:00.00
standards.focus.3.mag = 12.0

standards.field.4.ra  = 08:00:00.000
standards.field.4.dec = 000:00:00.00
standards.field.4.mag = 12.0
standards.focus.4.ra  = 08:00:00.000
standards.focus.4.dec = 000:00:00.00
standards.focus.4.mag = 12.0

standards.field.5.ra  = 10:00:00.000
standards.field.5.dec = 000:00:00.00
standards.field.5.mag = 12.0
standards.focus.5.ra  = 10:00:00.000
standards.focus.5.dec = 000:00:00.00
standards.focus.5.mag = 12.0

standards.field.6.ra  = 12:00:00.000
standards.field.6.dec = 000:00:00.00
standards.field.6.mag = 12.0
standards.focus.6.ra  = 12:00:00.000
standards.focus.6.dec = 000:00:00.00
standards.focus.6.mag = 12.0

standards.field.7.ra  = 14:00:00.000
standards.field.7.dec = 000:00:00.00
standards.field.7.mag = 12.0
standards.focus.7.ra  = 14:00:00.000
standards.focus.7.dec = 000:00:00.00
standards.focus.7.mag = 12.0

standards.field.8.ra  = 16:00:00.000
standards.field.8.dec = 000:00:00.00
standards.field.8.mag = 12.0
standards.focus.8.ra  = 16:00:00.000
standards.focus.8.dec = 000:00:00.00
standards.focus.8.mag = 12.0

standards.field.9.ra  = 18:00:00.000
standards.field.9.dec = 000:00:00.00
standards.field.9.mag = 12.0
standards.focus.9.ra  = 18:00:00.000
standards.focus.9.dec = 000:00:00.00
standards.focus.9.mag = 12.0

standards.field.10.ra  = 20:00:00.000
standards.field.10.dec = 000:00:00.00
standards.field.10.mag = 12.0
standards.focus.10.ra  = 20:00:00.000
standards.focus.10.dec = 000:00:00.00
standards.focus.10.mag = 12.0

standards.field.11.ra  = 22:00:00.000
standards.field.11.dec = 000:00:00.00
standards.field.11.mag = 12.0
standards.focus.11.ra  = 22:00:00.000
standards.focus.11.dec = 000:00:00.00
standards.focus.11.mag = 12.0