callout.recipient.count   = 1
callout.recipient.0.email = snf@astro.livjm.ac.uk
callout.recipient.0.name  = Mr Fraser

callout.default.message = Test Message #1
callout.subject.header  = LT - FATAL ERROR
callout.from.header     = RCS_CONTROLLER


#
# Callout configuration parameters
#

#
# General Information.
#
default.message	=	Test Message #1
default.subject	=	LT - FATAL ERROR
default.from	=	RCS_CONTROLLER

#
# Recipient Information.
#
recipient.ID	=	SNF
SNF.name	=	Mr Stephen Fraser
SNF.appel	=	Steve
SNF.email	=	snf@astro.livjm.ac.uk
SNF.phone.work	=	44 151 231 2903
SNF.phone.home	=	44 1824 790162
SNF.phone.mobile=	44 788 1660227
